* {
  /* border: 2px solid black; */
  box-sizing: border-box;
}

:root {
  /* box-sizing: border-box; */
  font-size: 62.5%;
  --null-value: 0px;
  --radius-value: 15px;
  --letter-spacing-value: 4px;
  --mobile-width-value: 300px;

  --Primary-dark-cyan: hsl(158, 36%, 37%);
  --Primary-darker-cyan: hsl(158, 37%, 27%);
  --Primary-dream: hsl(30, 38%, 92%);

  --Neutral-Very-dark-blue: hsl(212, 21%, 14%);
  --Neutral-Dark-grayish-blue: hsl(228, 12%, 48%);
  --Neutral-White: hsl(0, 0%, 100%);
  --Neutral-aliceblue: hsl(0, 0%, 100%);
}

body {
  font-size: 14px;
  font-weight: 500;
  font-family: Montserrat;
  color: var(--Neutral-Dark-grayish-blue);
  background-color: var(--Primary-dream);
  min-height: 100vh;
  padding: 30px 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* general */

#descreption h1 {
  font-size: 38px;
  color: black;
  font-family: Fraunces;
  font-weight: 700;
}

.upperCase {
  text-transform: uppercase;
}

.line_through {
  text-decoration: line-through;
}

.margin_zero {
  margin: 0;
}

.letter_spacing {
  letter-spacing: var(--letter-spacing-value);
}

.font_weight_400 {
  font-weight: 500;
}

/* pre-defined */

.attribution {
  color: black;
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: var(--Neutral-Dark-grayish-blue);
}

/* styles */

img {
  border-top-right-radius: var(--radius-value);
  border-top-left-radius: var(--radius-value);
  width: 100%;
  max-width: var(--mobile-width-value);
  max-height: var(--mobile-width-value);
  display: block;
  object-fit: cover;
}

#descreption {
  background-color: var(--Neutral-aliceblue);
  border-bottom-right-radius: var(--radius-value);
  border-bottom-left-radius: var(--radius-value);
  padding: 10px 20px;
  max-width: var(--mobile-width-value);
  margin: 0;
}

#priceOne,
#priceTwo {
  display: inline-block;
}

#priceOne {
  font-family: Fraunces;
  font-size: xx-large;
  font-weight: 700;
  padding: 1rem 0rem;
  color: var(--Primary-dark-cyan);
}

#priceTwo {
  padding: 1rem 2rem;
}

.btn {
  text-align: center;
  color: white;
  background-color: hsl(158, 36%, 37%);
  border: none;
  border-radius: var(--radius-value);
  padding: 1.5rem 0rem;
  margin: 20px auto;
  width: 100%;
  display: block;
}

.btn:hover {
  background-color: var(--Primary-darker-cyan);
  cursor: pointer;
}

@media screen and (min-width: 1100px) {
  #descreption h1 {
    font-size: 30px;
  }

  #content {
    display: flex;
    flex-direction: row;
    /* justify-content: center; */
  }

  #descreption,
  img {
    height: 55rem;
  }
  img {
    border-top-right-radius: var(--null-value);
    border-bottom-left-radius: var(--radius-value);
    max-height: 55rem;
  }

  #descreption {
    font-size: 21px;
    padding: 30px 40px;
    /* width: 65rem; */
    /* height: 750px; */
    max-width: 41rem;
    border-top-right-radius: var(--radius-value);
    border-bottom-right-radius: var(--radius-value);
    border-bottom-left-radius: var(--null-value);
  }
  #prices {
    margin: 3rem auto;
  }
  .btn {
    padding: 2rem 0rem;
  }
}

@media screen and (min-height: 620px) {
  .attribution {
    position: fixed;
    bottom: 10px;
  }
}
