:root {
  font-size: 62.5%;
}

body {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 1.6rem;
  line-height: 1;
  background-color: #f5f5f5;
  width: 90%;
  margin: 0 auto;
}
/* /////////////////////////////////// */
/* general selectors */
.uppercase {
  text-transform: uppercase;
}
.capitalize {
  text-transform: capitalize;
}
/* /////////////////////////////////// */

nav {
  float: right;
}

.header {
  height: 10vh;
}

.main {
  height: 30vh;
  max-height: 150px;
  max-width: 1067px;
  padding: 1rem;
  margin: 0 auto;
  /* width: 90%; */
  border-radius: 20px;
  background: linear-gradient(90deg, #7274bf, #2681c8);
  /* background-color: #704dd9; */
}

h2 {
  margin: 20px 0 0;
  /* margin-bottom: 0;
    margin-left: 0; */
}

.header-sub-text {
  padding: 0 0;
  /* padding: 0 10px; */
}

input {
  display: block;
  padding: 1rem;
  margin: 2rem 0;
  width: 90%;
  max-width: 300px;
  border-radius: 2rem;
  outline: 0;
  border: 0;
}

.book {
  width: 200px;
  height: 200px;
  background-color: gold;
  float: right;
  display: none;
}

.heading {
  height: 7vh;
  margin: 7vh 0 0;
}

h3 {
  margin: 1rem auto;
}

.cards {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

.card {
  min-width: 140px;
  width: 130px;
  height: 130px;
  /* max-width: ; */
  /* max-height: ; */
  box-sizing: border-box;
  margin: 2rem auto;
  /* background-color: darkolivegreen; */
  text-align: center;
}

.cards-pic {
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  background-color: gold;
  border-radius: 10%;
}

img {
  width: inherit;
  height: inherit;
  border-radius: inherit;
  object-fit: cover;
}
